.match-navigation-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-inline: auto;
    margin-top: 50px;
    width: 100%;
    max-width: 1000px;
    height: 100px;
    padding: 20px;
    background-color: #1f1638;
    color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filters-container {
    display: flex;
    justify-content: space-between;

    /* Adjust width and spacing */
    width: 100%;
    gap: 10px;
}

.filters-container select {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.summary-container {
    width: 100%;
    padding: 12px;
    background-color: #302a52;
    color: #ffffff;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    vertical-align: auto;
}

